.menu1 {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border: 10px groove lightgreen;
    padding:20px;
    color:white;
}

.item1 div {
    margin: 20px;
    padding: 30px;
    border: 15px dashed #C39797;
    background-color: pink;
}

.three {
    display: flex;
    justify-content:space-around;
    border:10px groove yellow;
    padding:20px;
    background-color:cyan;
}